<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <xacro:macro name="sagan_system" params="name sim_gazebo">

        <ros2_control name="GazeboSystem" type="system">

            <xacro:if value="${sim_gazebo}">
                <hardware>
                    <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                </hardware>
            </xacro:if>

            <!-- Joints -->
            <joint name="fl_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-5</param>
                    <param name="max">5</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="fr_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-5</param>
                    <param name="max">5</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="bl_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-5</param>
                    <param name="max">5</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="br_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-5</param>
                    <param name="max">5</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>

    </xacro:macro>

</robot>