<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- Gazebo Parameters -->
	<xacro:include filename="$(find sagan_description)/urdf/chassis/box_chassis.gazebo.xacro"/>

	<!-- Box Chassis -->
	<xacro:macro name="box_chassis" params="name gazebo">
		
		<link name="${name}">

			<inertial>
				<origin xyz="${chassis_x_com} ${chassis_y_com} ${chassis_z_com}"/>
				<mass value="${chassis_mass}"/>
				<inertia ixx="${chassis_ixx}" iyy="${chassis_iyy}" izz="${chassis_izz}"
						 ixy="${chassis_ixy}" ixz="${chassis_ixz}" iyz="${chassis_iyz}"/>
			</inertial>
			
			<visual>
				<origin xyz="${chassis_x_com} ${chassis_y_com} ${chassis_z_com}"/>
				<geometry>
					<box size="${chassis_x_size} ${chassis_y_size} ${chassis_z_size}"/>
				</geometry>
	      		<material name="">
    				<color rgba="${175/255} ${175/255} ${175/255} 1.0"/>
  				</material>
			</visual>

			<collision>
				<origin xyz="${chassis_x_com} ${chassis_y_com} ${chassis_z_com}"/>
				<geometry>
					<box size="${chassis_x_size} ${chassis_y_size} ${chassis_z_size}"/>
				</geometry>
			</collision>

		</link>

		<xacro:if value="${gazebo}">
			<xacro:box_chassis_gazebo name="${name}" />
		</xacro:if>

	</xacro:macro>

</robot>